.btn:focus{
    box-shadow: none;
}

.fret{
    height: 25px;
    border-right: 4px solid black;
}

.string-hr{
    position: relative;
    top: 50%;
    height: 1px;
    background: black;
    z-index: -1;
}

.open-fret{
    font-weight: bold;
    border-right: 13px solid black;
}

.scale-marker{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}