.btn:focus{
    box-shadow: none;
}

.fret{
    height: 25px;
}

.open-fret{
    font-weight: bold;
    outline: 3px solid black;
}

.scale-marker{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}