footer{
    position: fixed;
    bottom: 0;
    right: 0;
}

#rotate-phone-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    opacity: 85%;
}
.overlay-text{
    font-size: 64px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#controlsModal .modal-dialog{
    width: auto;
    max-width: 80%;
}

.btn:focus{
    box-shadow: none;
}

.fret{
    height: 25px;
    border-right: 4px solid black;
    padding: 0
}

.string-hr{
    position: relative;
    top: 50%;
    height: 1px;
    background: black;
    z-index: -1;
}

.open-fret{
    font-weight: bold;
    border-right: 13px solid black;
}

.fret-info{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}